body{
    margin: 0;
    background-color: rgb(0, 0, 0);

}
img{
   height:190px;
    width: 190px;
    padding:0px 28% ;
    padding-top:40px;
    text-align: center;
    
    object-fit: cover;
}

.body{
    display: flex;
    flex-direction: row;
    border: 2PX solid;
    

     }
 
.user{
    margin-top: 5%;
    border: 2PX solid;
    align-items: center;
    position: fixed;
    height: 100%;  
    width: 30%;
}
.user h1{
    display: inline;
    margin: 0 28%;
    font-size: 20px;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.user p{
    text-align: center;
    display: block;
    color: #fff;
    margin-top: 0px;

}
.user .nv ul{
    
    list-style: none;
    display: block;
    margin-top: 26%;
    text-align: center;
   
   
}
.user .nv li{
padding:10px ;
margin-right: 23%;
    
}

.user .nv li a{
    display: block;
    padding: 0.5rem;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5rem;
    text-decoration: none;
    
}
.bodyo{
   
    border: 2PX solid;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 7%;
    width: 100%;


}
.heading span{
    color: yellow;
    font-size: xx-large;
    padding: 0px;
    margin: 0px 35%;
}
.det{
    margin-left: 10%;
}
table{
    margin-left: 10%;
    
}
table,td,th{
    border:2px solid yellow;
    padding:10px 30px;
    font-size: 24px;
    color:aquamarine;
}
.det h3{
    color:rgb(87, 104, 161);
}
.det span{
    color:white;
}
#lis li{
    font-size: x-large;
    color:aquamarine;
}